global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'codelab-monitor'

rule_files:
- "alert.rules"

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alertmanager:9093"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.

  #System metrics
  - job_name: 'prometheus'
    scrape_interval: 1s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadviser'
    scrape_interval: 1s
    static_configs:
    - targets: ['cadvisor:8080']

  - job_name: 'docker_host_node_exporter'
    scrape_interval: 1s
    static_configs:
      - targets: ['node-exporter:9100']

  #Application metrics
  - job_name: 'repo'
    scrape_interval: 1s
    static_configs:
      - targets: ['repo:8080']

  - job_name: 'worker'
    scrape_interval: 1s
    static_configs:
      - targets: ['worker:8080']

  - job_name: 'worker1'
    scrape_interval: 1s
    static_configs:
      - targets: ['worker1:8080']

  - job_name: 'worker2'
    scrape_interval: 1s
    static_configs:
      - targets: ['worker2:8080']
